@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body style="background-color: lightblue;">
    <div>
        @ViewData["message"]
    </div>
</body>
</html>
