@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <form method="post">
                <label>Bug :</label>
                <input type="text" name="newBugName" value="" />
                <input type="submit" name="submit" value="Save" />
            </form>              
        </div>
    </body>
</html>